<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>

<div id='app'>
    <h2>Ma librairie</h2>        
    <!--create form => the search engine-->
    <form @submit.prevent="search">
        <label for="search">Rechercher</label>
        <input type="text" class="search" v-model="searchTerm">
        <input type="submit" value="valider">
    </form>
    <h3>Mes résultats de recherche</h3>
    <ul class="result">

        <p v-for="(book,id) in books" :key="id" :v-model="book">
            <a @click="displayOneBook(book.volumeInfo)">
                title: {{ book.volumeInfo.title}}
            </a><br/>
           ISBN: {{ book.volumeInfo.industryIdentifiers.map(elmt=>elmt.identifier)}}<br/>
           sous-titre: {{ book.volumeInfo.subtitle}}<br/>
           auteurs: {{ book.volumeInfo.authors}}<br/>
           catégorie: {{ book.volumeInfo.categories}}<br/>
           description: {{ book.volumeInfo.description}}<br/>
           pages: {{ book.volumeInfo.pageCount}}<br/>
           date de publication: {{ book.volumeInfo.publishedDate}}<br/>
           <img :src=" book.volumeInfo.imageLinks.smallThumbnail "/><br/></p>
    </ul>
    <ul class="result2">

    </ul>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            searchTerm: '',
            books: [],
            book: []
            
        },
        methods: {
            search() {
                let bookUrl = 'https://www.googleapis.com/books/v1/volumes?q='
 
                axios({
                    method: "get",
                    url: bookUrl + this.searchTerm
                })
                .then(response => {
                    
                    this.books = response.data.items
                })

            },
            displayOneBook(book){
                console.log("test du click sur un titre")
                console.log(book)
                axios.post("/select", {
                    data: book
                })
                .then(response => {
                    this.book = response.data
                })
            }
        }
    })
    //pass the search result (the element) in the html display
   /* let booksResult = (id, element) => {
        let ev = element.volumeInfo
        let li = `<p><a id="${id}" href="/select">${ev.title}</a></p>
                <ul><li>isbn:${ev.industryIdentifiers?ev.industryIdentifiers.map(elmt=>elmt.identifier):'undefined'}</li>
                    <li>sous-titre: ${ev.subtitle}</li>
                    <li>auteurs: ${ev.authors}</li>
                    <li>catégories: ${ev.categories}</li>
                    <li>description: ${ev.description}</li>
                    <li>pages: ${ev.pageCount}</li>
                    <li>date de publication: ${ev.publishedDate}</li>
                    <li><img src="${ev.imageLinks.smallThumbnail}"/></li>
                </ul>`
        return li
    }*/
    
    //create a submit event to retrieve the search result
    // document.querySelector(".form").addEventListener("submit", function(event) {
    //     event.preventDefault()
    //     let recherche = document.querySelector(".search").value 
    //     let resultat = document.querySelector(".result")
    //     let bookUrl = 'https://www.googleapis.com/books/v1/volumes?q='
 
    //     axios({
    //         method: "get",
    //         url: bookUrl + recherche
    //     })
    //     .then(function(response) {
            
    //         let booksObject = response.data.items
    //         let booksList = booksObject.map((element, id) => booksResult(id, element))
    //         let booksString = booksList.join('')
    //         //let books = booksObject.map((element) => Object.entries(element.volumeInfo?element.volumeInfo:''))
    //         resultat.innerHTML = booksString

    //         //create a link event to select one search result
    //         let a = document.querySelectorAll("a")
    //         a.forEach(element => element.addEventListener("click", function(event) {

    //             //catch the event id
    //             let id = this.getAttribute('id')
    //             let bookResult = booksList[id]
    //             //let resultat = document.querySelector(".result2")
    //             //resultat.textContent = bookResult
    //             console.log("bookResult: ",bookResult)
                
    //             axios({
    //                 method: 'post',
    //                 url: '/select',
    //                 data: bookResult
    //             })
    //             .then(response => console.log(response))
    //             .catch(function(err) {
    //                 resultat.textContent = "erreur2", err
    //             })
    //         }))
    //     })
    //     .catch(function(err) {
    //         resultat.textContent = "erreur", err
    //         console.log("teste encore")
    //     })
        
    // }, true)

</script>